:org.apache.felix.configadmin.revision:=L"3"
felix.fileinstall.active.level="90"
felix.fileinstall.dir="D:\\Docs\\MainDocs\\VRSimulator\\Org\\OpenHabServer\\OPENHAB\\openhab-2.5.8/addons"
felix.fileinstall.filename="file:/D:/Docs/MainDocs/VRSimulator/Org/OpenHabServer/OPENHAB/openhab-2.5.8/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="D:\\Docs\\MainDocs\\VRSimulator\\Org\\OpenHabServer\\OPENHAB\\openhab-2.5.8\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.5b919944-73bf-4842-9a41-c9deed52e796"
