:org.apache.felix.configadmin.revision:=L"1"
felix.fileinstall.filename="file:/D:/Docs/MainDocs/VRSimulator/Org/OPENHAB/openhab-2.5.8/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="D:\\Docs\\MainDocs\\VRSimulator\\Org\\OPENHAB\\openhab-2.5.8\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
